<mat-card class="card-register">
    <mat-card-header>
        <mat-card-title><h1 class="titulo-card">Registrarte como estudiante</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content class="form-dats">
        <form [formGroup]="student" (ngSubmit)="onSubmit(student.value)">     
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Nombres</mat-label>
                    <input matInput placeholder="Ingresa tus nombres" class="form-control" formControlName="nombres">
                    <mat-icon matSuffix>account_circle</mat-icon>
                    <ng-container *ngFor="let validation of validation_messages.nombres">
                        <mat-error *ngIf="student.get('nombres').hasError(validation.type) && (student.get('nombres').dirty || student.get('nombres').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Apellidos</mat-label>
                    <input matInput placeholder="Ingresa tus apellidos" formControlName="apellidos">
                    <mat-icon matSuffix>account_box</mat-icon>
                    <ng-container *ngFor="let validation of validation_messages.apellidos">
                        <mat-error *ngIf="student.get('apellidos').hasError(validation.type) && (student.get('apellidos').dirty || student.get('apellidos').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Correo</mat-label>
                    <input matInput placeholder="Ingresa tu correo" formControlName="correo">
                    <mat-icon matSuffix>contact_mail</mat-icon>
                    <ng-container *ngFor="let validation of validation_messages.correo">
                        <mat-error *ngIf="student.get('correo').hasError(validation.type) && (student.get('correo').dirty || student.get('correo').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Dirección</mat-label>
                    <input matInput placeholder="Ingresa tu dirección" formControlName="direccion">
                    <mat-icon matSuffix>domain</mat-icon>
                    <ng-container *ngFor="let validation of validation_messages.direccion">
                        <mat-error *ngIf="student.get('direccion').hasError(validation.type) && (student.get('direccion').dirty || student.get('direccion').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Célular</mat-label>
                    <input matInput placeholder="Ingresa tu número de celular" formControlName="telefono">
                    <mat-icon matSuffix>contact_phone</mat-icon>
                    <ng-container *ngFor="let validation of validation_messages.telefono">
                        <mat-error *ngIf="student.get('telefono').hasError(validation.type) && (student.get('telefono').dirty || student.get('telefono').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Código SIS</mat-label>
                    <input matInput placeholder="Ingresa tu código SIS" formControlName="codSis">
                    <mat-icon matSuffix>biotech</mat-icon>
                    <ng-container *ngFor="let validation of validation_messages.codSis">
                        <mat-error *ngIf="student.get('codSis').hasError(validation.type) && (student.get('codSis').dirty || student.get('codSis').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
            <div class="form-group">
                <mat-form-field appearance="legacy">
                    <mat-label>Ingresa tu contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <ng-container *ngFor="let validation of validation_messages.password">
                        <mat-error *ngIf="student.get('password').hasError(validation.type) && (student.get('password').dirty || student.get('password').touched)">{{validation.message}}</mat-error>
                    </ng-container>
                </mat-form-field><br>
            </div>
                <div>
                    <button mat-raised-button color="accent" (click)="resetFields()">Cancelar</button>
                    <button mat-raised-button class="submit-button" color="primary" type="submit" [disabled]="!student.valid">Registrar</button>
                </div>

        </form>
    </mat-card-content>
</mat-card>
