<mat-toolbar color="primary" class="expanded-toolbar">
  <span>
    <button mat-button routerLink="/">
      <h1>{{title}}</h1>
    </button>
    <button mat-raised-button color="accent" routerLink="/"> Convocatorias <mat-icon>class</mat-icon></button>
  </span>
<div fxLayout="row" fxShow="false" fxShow.gt-sm>
  <button mat-raised-button color="accent" routerLink="/login" *ngIf="!isAuthenticated">
    <mat-icon>person</mat-icon>
    Iniciar Sesion
  </button>
  <button mat-button *ngIf="isAuthenticated" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    Cerrar Sesion
  </button>
  <button class="register" mat-raised-button *ngIf="!isAuthenticated" routerLink="/game">
    <mat-icon>person_add</mat-icon>
    Registrarse
  </button>
</div>
</mat-toolbar>

<router-outlet></router-outlet>
<section>
  <div class="example-button-row">
    <button mat-raised-button color="primary" [routerLink]="['/register-student']">Registrar Estudiante</button>
    <button mat-raised-button color="primary"[routerLink]="['/students']">Lista de Estudiantes</button>
    <button mat-raised-button color="accent" [routerLink]="['/register-professor']">Registrar Docente</button>
    <button mat-raised-button color="accent" [routerLink]="['/docentes']">Lista de Docentes</button>
    <button mat-raised-button color="warn" [routerLink]="['/crear-convocatoria']">Crear Convocatoria</button>
    <button mat-raised-button [routerLink]="['/crear-comision']">Crear Comision</button>
  </div>
</section>